/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

body {
    background-color: #ffffff;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
    list-style-type: none;

}
nav ul li { 
    background-color: #25c389;
    padding: 1rem 2rem ;       
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    align-items: flex-end;
    font-size: 1.1rem;
}

.banner { 
    background-image: url(./media/banner.png);
    object-fit: cover;
    object-position: left top;
    height: 28rem;
    padding: 1rem;
    background-color: #0E2E4E;
}
.full-bg{
    margin-left: -10rem;
    padding-left: 10rem;
    background-color: #a3a3a3;
    margin-right: -10rem;
    padding-right: 10rem;
    position: relative;
}

.carousel-btn-left{ 
    position: absolute; 
    left: 4rem;
    top: 50%;
    bottom: 50%;
cursor: pointer;
}

.carousel-btn-right {
     position: absolute; 
    right: 4rem;
    top: 50%;
    bottom: 50%;
cursor: pointer;
}

.banner-text {
    margin-top: 14rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.banner-text p { 
    background-color: #EBEBEB;
    padding: 1rem;
    width: fit-content;
    font-weight: 500;
}

.border-text-left-red {
    border-left: 4px solid #de6262;
}
.border-text-left-blue {
    border-left: 4px solid #19b2de;
}

.border-text-left-yellow {
    border-left: 4px solid #ffb901;
}


.intro {
text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.services {
    margin-top: 1rem;
}


.services {
    text-align: center;
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 4rem;
}
h3 {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #a3a3a3;

}

h4 { 
     margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.yellow-bg {
    background-color: #ffb901;
}
.red-bg {
    background-color: #de6262;
}

.light-blue-bg {
    background-color: #19b2de;
}

.dark-blue-bg {
    background-color: #265787;
}


.services ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.4rem;
}

.services p {
    margin-top: 1rem;
    margin-bottom: 3rem;
        color: #a3a3a3;
}

.services ul li article { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.blog-posts p { 
    text-align: center  ;
}

.music-background-image {
    background-image: url(./media/music.png);
    object-fit: cover;
    object-position: center;
    height: 20rem;
    margin-top: 2rem;
    background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.blog-post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
}
.top-left {
    text-align: center;
    padding: 0.7rem;
    background-color: #D8605F;
    color: #ffffff;
    width: 20%;

}

.date-day {
    font-size: 1.3rem;
}

.bottom-text-blog-post{
    position: relative;
    background-color: #19B2DE;
    padding: 1rem;
    color: #ffffff;
}

.bottom-text-blog-post::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #1596BD;
    
}

.sample-image-text { 
    font-size: 1.2rem;
}

.project-layout{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
margin: 1rem;}

.project-layout img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 15rem;
}

.logo-list {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.logo-list img {
    width: 100%;
    object-fit: contain;
}

.logo-list li {
    padding: 1.5rem;
    background-color: #f3f3f3;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.bottom-footer {
    background-color: #0E2E4E;
    color: #ffffff;
    margin-left: -10rem;
    margin-right: -10rem;
    height: 100vh;
    overflow: hidden;

}

.bottom-footer .ceo-section {
    padding: 2rem 10rem;
}

.circle-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: 140%;
    background-position: center top;
    margin-bottom: 1rem;
}

.ceo-section {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.ceo-desc-wrapper{ 
    max-width: 60%;
}

.ceo-desc-wrapper hr {
    margin-top: 2rem;
    width: 20%; 
    float: left;
    border-color: #FFB901;
    border-width: 2px;
    border-style: solid;
}

.footer-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 1rem;
    padding: 2rem 10rem;

}

.footer-grid section {
display: flex;
flex-direction: column;
}

.long-line {
    position: relative;
    width: 100%;
    background-color: #FFB901;
    overflow: visible;
    margin-bottom: 1.5rem;
}

.long-line::after {
    content: "";
    position: absolute;
    left: 10%;
    top: 0.4rem;
    transform: translate(-50%, -50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #ffffff; /* white triangle to 'cut out' the line */
}

.line-green {
    border: 1px solid #25C389;
}

.line-green::after {
    border-top: 12px solid #25C389;
}

.line-yellow {
    border: 1px solid #FFB901;
}

.line-yellow::after {
    border-top: 12px solid #FFB901; 
}

.line-light-blue {
    border: 1px solid #19B2DE;
}

.line-light-blue::after {
    border-top: 12px solid #19B2DE; 
}

.logo-and-title {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    gap: 1rem;
    font-size: 2rem;
margin-bottom: 0.5rem;
}

.logo-and-title svg {
margin-bottom: 0.3rem;}

.bottom-footer {
  position: relative; 
}

.bottom-footer::after {
  content: "";
  position: absolute;
  /* make left and right same as page padding */
  left: 10rem; 
  right: 10rem;
  bottom: 0;
  width: 30rem;
  height: 1rem;                   
  background: linear-gradient(90deg,
    #25C389 0 20%, 
    #FFB901 20% 40%, 
    #D8605F 40% 60%, 
    #166ba2 60% 80%,
    #1691bd 80% 100% 
  );
}


.about-us-text {
        color: #FFB901;

}

.instagram-text {
    color:#D8605F;
}

.mastadon-text {
        color: #19B2DE;

}